body {
background-color:#CCECFF;
color:#16355C;
}
nav {
margin-left:-40px;
}
nav li {
display:inline;
padding-right:150px;
}
h1 {
font-style:italic;
margin:0px;
}
#info p {
font-style:italic;
margin:0px 0px 0px 20px;
}
dl {
margin-left:15px;
margin-top:5px;
}
dt ,dd {
font-style:italic;
font-family:sans-serif;
padding:3px 0px 3px 15px;
}





