body,
div,
header,
a,
h1,
h2,
h3,
nav,
ul,
li,
img,
p,
section {
  padding: 0;
  margin: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
body {
  font: 12px Segoe UI, sans-serif;
  color: #4b3e82;
}
body div#container {
  width: 778px;
  margin: 0 auto;
  background: white;
  padding-top: 1px;
}
body div#container header {
  background: url('../images/users.png') no-repeat;
  background-position: right;
}
body div#container header a {
  font: 2.0em Arial italic;
  font-weight: bold;
  background: #59518c;
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  line-height: 48px;
}
body div#container header h1 {
  font: 1.5em Arial;
  float: right;
  color: #59518c;
  margin-right: 80px;
  letter-spacing: 1px;
  padding: 12px;
  text-transform: uppercase;
}
body div#container aside#left-aside {
  background: #f2f3f7;
  float: left;
  width: 126px;
}
body div#container aside#left-aside ul {
  list-style-type: none;
  margin-left: 10px;
  margin-top: 20px;
}
body div#container aside#left-aside ul li {
  line-height: 6px;
}
body div#container aside#left-aside ul li h2 {
  color: #424284;
  font-size: 1.2em;
}
body div#container aside#left-aside ul li a {
  text-decoration: none;
  color: #006699;
  vertical-align: sub;
}
body div#container aside#left-aside ul li:before {
  content: ".";
  font-size: 25px;
  padding-right: 5px;
}
body div#container aside#left-aside ul li:first-child {
  margin-bottom: 4px;
}
body div#container aside#left-aside ul li:first-child:before {
  content: none;
}
body div#container nav {
  background: #e6def5;
}
body div#container nav ul {
  padding: 5px;
  list-style-type: none;
  background: url('../images/star.png') no-repeat;
  background-position: left;
  background-size: 15px;
  margin-left: 130px;
}
body div#container nav ul li {
  display: inline-block;
  margin-left: 5px;
}
body div#container nav ul li a {
  text-decoration: none;
}
body div#container nav ul li:after {
  content: "|";
  padding-left: 5px;
  color: blue;
}
body div#container nav ul li:first-child {
  margin-left: 20px;
  color: #6d64a3;
  font-size: 1.1em;
  font-weight: bold;
}
body div#container nav ul li:first-child:after {
  content: none;
}
body div#container nav ul li:last-child:after {
  content: none;
}
body div#container section#main {
  width: 450px;
  background: #e6def5;
  display: inline-block;
  height: 318px;
}
body div#container section#main article {
  background: #f9f4fd;
  margin-left: 2px;
  margin-right: 4px;
  height: 317px;
}
body div#container section#main article h1 {
  color: #c41e89;
  font-size: 1.3em;
  padding-top: 30px;
}
body div#container section#main article h3 {
  font-size: 0.9em;
}
body div#container section#main article img {
  float: left;
  margin: 10px;
}
body div#container section#main article p {
  margin-top: 25px;
  margin-left: 10px;
}
body div#container section#main article footer {
  padding: 0 10px;
  background: white;
}
body div#container section#main article footer a {
  font-size: 0.9em;
  text-decoration: none;
}
body div#container section#main article footer a:before {
  content: ".";
  font-size: 25px;
  color: orange;
  padding-right: 5px;
  vertical-align: 2px;
}
body div#container aside#right-aside {
  width: 196px;
  height: 340px;
  background: #f9f4fd;
  float: right;
  border-right: 3px solid #e6def5;
  position: relative;
  bottom: 25px;
}
body div#container aside#right-aside ul li {
  list-style-type: none;
}
body div#container aside#right-aside ul li h3 {
  font-size: 0.9em;
  padding-top: 10px;
}
body div#container aside#right-aside ul li h3 a {
  color: #4b3e82;
  text-decoration: none;
  font-weight: normal;
}
body div#container aside#right-aside ul li img {
  float: left;
  margin: 10px 10px 0 10px;
}
body div#container aside#right-aside ul li ul li {
  height: 13px;
}
body div#container aside#right-aside ul li ul li a {
  text-decoration: none;
  font-size: 0.9em;
}
body div#container aside#right-aside ul li ul li a:before {
  content: ".";
  font-size: 25px;
  color: orange;
  padding-right: 5px;
  vertical-align: 2px;
}
body div#container aside#right-aside ul li #first {
  float: left;
  margin-left: 10px;
}
body div#container aside#right-aside ul li #second {
  float: right;
  margin-right: 20px;
}
body div#container footer {
  background: #59518c;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1px;
}
body div#container footer p {
  color: white;
  margin-left: 260px;
  font-size: 0.9em;
}
